
body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.par {
    /* The image used */
    background-image: url('../images/back/blur.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 1.5em;
    letter-spacing: 10px;
  }
  
  .sum-notes {
      font-size: 1rem;
      font-family: 'Raleway', sans-serif;
      /* font-weight: bold; */
  }
  .sum-notes.color {
      color: #fff;
  }
  .slide1 {
      
    /* The image used */
    background-image: url('../images/pres/3.png');
    
        /* Full height */
        height: 100%; 
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  }
  .slide2 {
    
  /* The image used */
  background-image: url('../images/pres/4.png');
  
      /* Full height */
      height: 100%; 
  
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.slide3 {
    
  /* The image used */
  background-image: url('../images/pres/6.png');
  
      /* Full height */
      height: 100%; 
  
      /* Create the parallax scrolling effect */
      /* background-attachment: fixed; */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
@media only screen and (max-device-width: 650px) {
    .par, .slide1, .slide2 {
        background-attachment: scroll;
    }
}
.red-butt {
    background-color: white;
    color: black;
    border: 2px solid green; /* Green */
}

.wallpaper1 {
    
  /* The image used */
  background-image: url('../images/wall.png');
  
      /* Full height */
      height: 20%; 
  
      /* Create the parallax scrolling effect */
      /* background-attachment: fixed; */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.uk-card-footer.taste48 {
  color: #679186;
    font-size: 1.5rem;
}
.uk-card-body.taste38 {
    color: green;
    background-color: #dfdfdf;
}
.sum-card {
    width: 100%;
    height: 70px;
    -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
  
    -moz-border-radius-topleft: 1px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 4px;
  
    border-top-left-radius: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 4px;
    background-color: #2b335c;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}
.sum-card.middle {
    width: 100%;
    height: 70px;
    /* -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
  
    -moz-border-radius-topleft: 1px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 4px;
  
    border-top-left-radius: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 4px; */
    background-color: #e95c79;
    font-size: 2rem;
    /* color: #e88a60; */
    /* padding: 1rem 0; */
}
.sum-card.bottom {
    width: 100%;
    height: 50px;
    -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
  
    -moz-border-radius-topleft: 1px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 4px;
  
    border-top-left-radius: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 4px;
    background-color: #2b335c;;
    font-size: 2rem;
    color: #e88a60;
    /* padding: 1rem 0; */
}
.gutter {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
div.box {
    border: 1px solid #5a5a5a;
}

/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
  /* Wobble Bottom */
@-webkit-keyframes hvr-wobble-bottom {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes hvr-wobble-bottom {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  .hvr-wobble-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  .hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
    -webkit-animation-name: hvr-wobble-bottom;
    animation-name: hvr-wobble-bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  .step-1 {
    min-height: 40%;
    background: #709078;
  }

  div.center-content {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .step-2 {
    min-height: 60%;
    background: #4a4a48;
    color: #fff;
  }
  .border-bottom {
    width: 100%;
    border-bottom: 3px solid #fff;
    }